<div class="page-wrapper">
    <div fxLayout="row" fxLayoutAlign="start center">
        <h1>{{ "pages.puzzle_hero.puzzle_hero" | translate }}</h1>

        <div fxFlex></div>
        <a class="btn btn-primary">Ajouter une piste <i class="fal fa-plus"></i></a>
        <a class="btn btn-default"><i class="fal fa-edit"></i></a>
    </div>

    <app-loading-spinner [loading]="loading$">
    </app-loading-spinner>
    <ng-container *ngIf="error$ | async">
        <div style="text-align: center">
            <i class="far fa-times-circle error fa-8x"></i>
            <h5>{{ "pages.puzzle_hero.loading_error" | translate }}</h5>
        </div>
    </ng-container>

    <ng-container *ngIf="tracks$ | async as tracks">
        <div class="mt-4">
            <app-track *ngFor="let track of tracks" [showStar]="false" [adminMode]="true"
                       (clickPuzzle)="clickPuzzle($event, track)" (clickAddPuzzle)="clickPuzzle($event)"
                       [track]="track"></app-track>
        </div>
    </ng-container>
</div>
