<form [formGroup]="formGroup">
    <div class="row">
        <div class="col-sm-12">
            {{ "components.sponsor_form.web_width" | translate }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group input-group-default mx-0">
                <div class="input-group-prepend">
                    <a class="form-icon">
                        <i class="fal fa-text-width"></i>
                    </a>
                </div>
                <input autofocus class="form-control" type="number" controlStatus formControlName="webWidth">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{ "components.sponsor_form.web_height" | translate }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group input-group-default mx-0">
                <div class="input-group-prepend">
                    <a class="form-icon">
                        <i class="fal fa-text-height"></i>
                    </a>
                </div>
                <input autofocus class="form-control" type="number" controlStatus formControlName="webHeight">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3>{{ "components.sponsor_form.web_padding" | translate }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            {{ "components.sponsor_form.left" | translate }}
            <div class="input-group input-group-default mx-0">
                <div class="input-group-prepend">
                    <a class="form-icon">
                        <i class="fal fa-angle-left"></i>
                    </a>
                </div>
                <input autofocus class="form-control" type="number" controlStatus formControlName="webLeftPadding">
            </div>
        </div>
        <div class="col-sm-6">
            {{ "components.sponsor_form.top" | translate }}
            <div class="input-group input-group-default mx-0">
                <div class="input-group-prepend">
                    <a class="form-icon">
                        <i class="fal fa-angle-up"></i>
                    </a>
                </div>
                <input autofocus class="form-control" type="number" controlStatus formControlName="webTopPadding">
            </div>
        </div>
        <div class="col-sm-6">
            {{ "components.sponsor_form.right" | translate }}
            <div class="input-group input-group-default mx-0">
                <div class="input-group-prepend">
                    <a class="form-icon">
                        <i class="fal fa-angle-right"></i>
                    </a>
                </div>
                <input autofocus class="form-control" type="number" controlStatus formControlName="webRightPadding">
            </div>
        </div>
        <div class="col-sm-6">
            {{ "components.sponsor_form.bottom" | translate }}
            <div class="input-group input-group-default mx-0">
                <div class="input-group-prepend">
                    <a class="form-icon">
                        <i class="fal fa-angle-down"></i>
                    </a>
                </div>
                <input autofocus class="form-control" type="number" controlStatus formControlName="webBottomPadding">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{ "components.sponsor_form.mobile_width" | translate }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group input-group-default mx-0">
                <div class="input-group-prepend">
                    <a class="form-icon">
                        <i class="fal fa-text-width"></i>
                    </a>
                </div>
                <input autofocus class="form-control" type="number" controlStatus formControlName="mobileWidth">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{ "components.sponsor_form.mobile_height" | translate }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group input-group-default mx-0">
                <div class="input-group-prepend">
                    <a class="form-icon">
                        <i class="fal fa-text-height"></i>
                    </a>
                </div>
                <input autofocus class="form-control" type="number" controlStatus formControlName="mobileHeight">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3>{{ "components.sponsor_form.mobile_padding" | translate }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            {{ "components.sponsor_form.left" | translate }}
            <div class="input-group input-group-default mx-0">
                <div class="input-group-prepend">
                    <a class="form-icon">
                        <i class="fal fa-angle-left"></i>
                    </a>
                </div>
                <input autofocus class="form-control" type="number" controlStatus formControlName="mobileLeftPadding">
            </div>
        </div>
        <div class="col-sm-6">
            {{ "components.sponsor_form.top" | translate }}
            <div class="input-group input-group-default mx-0">
                <div class="input-group-prepend">
                    <a class="form-icon">
                        <i class="fal fa-angle-up"></i>
                    </a>
                </div>
                <input autofocus class="form-control" type="number" controlStatus formControlName="mobileTopPadding">
            </div>
        </div>
        <div class="col-sm-6">
            {{ "components.sponsor_form.right" | translate }}
            <div class="input-group input-group-default mx-0">
                <div class="input-group-prepend">
                    <a class="form-icon">
                        <i class="fal fa-angle-right"></i>
                    </a>
                </div>
                <input autofocus class="form-control" type="number" controlStatus formControlName="mobileRightPadding">
            </div>
        </div>
        <div class="col-sm-6">
            {{ "components.sponsor_form.bottom" | translate }}
            <div class="input-group input-group-default mx-0">
                <div class="input-group-prepend">
                    <a class="form-icon">
                        <i class="fal fa-angle-down"></i>
                    </a>
                </div>
                <input autofocus class="form-control" type="number" controlStatus formControlName="mobileBottomPadding">
            </div>
        </div>
    </div>
</form>