<div class="page-wrapper">
    <app-loading-spinner [loading]="loading$">
        <ng-template ng-loading-body>
            <question-download (downloadUrl)="downloadUrl($event)"></question-download>
        </ng-template>
    </app-loading-spinner>

    <ng-container *ngIf="error$ | async">
        <h1 class="title">{{ "pages.competition.competition" | translate }}</h1>
        <div style="text-align: center">
            <i class="far fa-times-circle text-danger fa-8x"></i>
            <h3 class="mt-3">{{ "pages.competition.loading_error" | translate }}</h3>
        </div>
    </ng-container>

    <ng-container *ngIf="competition">
        <div fxLayout="row" fxLayoutAlign="start center">
            <h1 class="title">{{ "pages.competition.competition" | translate }}</h1>

            <div fxFlex></div>
            <a class="btn btn-outline-primary" (click)="clickSave()">
                {{ "general.button.save" | translate }}
            </a>
            <a class="btn btn-default" (click)="clickSettings()"><i class="fal fa-cogs"></i></a>
        </div>
        <div class="row mt-4">
            <div class="col-sm-7">
                <h2>
                    {{ competition.activities[0].name | t18n }}
                </h2>
            </div>
        </div>
        <hr>
        <tabset type="pills">
            <tab>
                <ng-template tabHeading>
                    <span>
                        <i class="fal fa-stream"></i>&nbsp;
                        {{ "pages.competition.edit.description_and_questions" | translate }}
                    </span>
                </ng-template>
                <app-custom-text-box
                    label="{{ 'pages.competition.edit.description' | translate }}"
                    [(ngModel)]="competition.description"
                    [formType]="'markdown'">
                </app-custom-text-box>

                <div class="mt-4">
                    <ng-template #questionTemplate let-item="item">
                        <app-question-edit-card [question]="item.value"
                                                (clickEditQuestion)="clickEditQuestion(item.value)"></app-question-edit-card>
                    </ng-template>

                    <bs-sortable
                        [(ngModel)]="competition.questions"
                        [itemTemplate]="questionTemplate"
                    ></bs-sortable>

                    <button type="button" class="add-button btn btn-lg btn-block borders"
                            (click)="clickAddQuestion()">
                        + {{ "pages.competition.edit.add_question" | translate }}
                    </button>
                </div>
            </tab>
            <ng-container *ngIf="competitionResults$ | async as competitionResults">
                <tab>
                    <ng-template tabHeading>
                        <span><i
                            class="fal fa-download"></i> {{ "pages.competition.edit.submissions" | translate }}</span>
                    </ng-template>
                    <app-question-results-card
                        *ngFor="let question of $any(competition).questions"
                        (clickDownloadSubmissions)="clickDownloadSubmissions(question)"
                        [teamResults]="getTeamResultsForQuestion(competitionResults, question.question._id)"
                        [question]="question.question"></app-question-results-card>
                </tab>
                <tab>
                    <ng-template tabHeading>
                        <span><i class="fal fa-trophy"></i> {{ "pages.competition.edit.results" | translate }}</span>
                    </ng-template>
                    <app-competition-results [teamResults]="competition.results"
                                             [teamCompetitionResults]="competitionResults"
                                             [questions]="$any(competition.questions)"
                                             (teamResultChange)="onResultsUpdate($event)"></app-competition-results>
                </tab>
            </ng-container>
        </tabset>
    </ng-container>
</div>
