<form [formGroup]="formGroup">
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center" class="container">
        <div class="input-group input-group-default">
            <div class="input-group-prepend">
                <i class="fal fa-file-signature"></i>
            </div>
            <input autofocus class="form-control" type="text" name="label" formControlName="label" placeholder='{{ "pages.puzzle_hero.admin.label_placeholder" | translate }}'
                controlStatus>
        </div>
    </div>

    <div fxLayout="row" fxLayoutGap="0px" fxLayoutAlign="start start" class="container">
        <app-custom-text-box fxFlex="100%" label="{{ 'general.label.description' | translate }}" formControlName="description"
            placeholder="{{ 'pages.puzzle_hero.description_placeholder' | translate }}" formType="rich" [textareaRows]="10" class="custom-text" controlStatus>
        </app-custom-text-box>
    </div>

    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center" class="container">
        <div fxFlex="50%" class="input-group input-group-default">
            <ng-select [items]="puzzleTypes" [clearable]="false" placeholder='{{ "pages.puzzle_hero.puzzle_types" | translate }}' controlStatus formControlName="type">
                <ng-template ng-option-tmp ng-label-tmp let-item="item">
                    <i class="fal" [ngClass]="getPuzzleTypeIcon(item)"></i>
                    <span class="ng-option-label">
                        {{ item }}
                    </span>
                </ng-template>
            </ng-select>
        </div>
        <div fxFlex="50%" class="input-group input-group-default">
            <ng-select [items]="validationTypes" [clearable]="false" placeholder='{{ "pages.puzzle_hero.validation_types" | translate }}' controlStatus
                formControlName="validationType">
                <ng-template ng-option-tmp ng-label-tmp let-item="item">
                    <i class="fal" [ngClass]="getValidationIcon(item)"></i>
                    <span class="ng-option-label">
                        {{ item }}
                    </span>
                </ng-template>
            </ng-select>
        </div>
    </div>
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center" class="container">
        <span class="infoText margin-left">
            {{ "pages.puzzle_hero.answer_admin" | translate }} :
        </span>
    </div>
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center" class="container">
        <div fxFlex="100%" class="input-group input-group-default">
            <input class="form-control full-width" type="text" placeholder="{{ 'pages.puzzle_hero.answer_placeholder' | translate }}" formControlName="answer" controlStatus />
        </div>
    </div>
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center" class="container">
        <div fxFlex="100%" class="input-group input-group-default">
            <input class="form-control full-width" type="number" placeholder="{{ 'pages.puzzle_hero.admin.score' | translate }}" formControlName="score" controlStatus />
        </div>
    </div>
</form>