storage-key.json
firebase-adminsdk-key.json

gcp/*.json
api/.env.compose
auth/.env.compose
mail/.env.compose
gateway/.env.compose

mobile/.dart_tool/

mobile/.idea/

mobile/android/.idea/

mobile/.flutter-plugins

mobile/.flutter-plugins-dependencies

mobile/.packages

mobile/ios/Flutter/Flutter.podspec

mobile/ios/Flutter/flutter_export_environment.sh

mobile/.DS_Store

.DS_Store

mobile/ios/Runner/GoogleService-Info.plist
