version: '3'
services:
  gateway:
    build: gateway/
    volumes:
      - ./gateway/app:/config
    ports:
      - "8000:8000"
    env_file: gateway/.env.compose
    networks:
      - app
  sts:
    build: auth/
    volumes:
      - ./sts/keys:/keys
    ports:
      - "5555:5555"
    env_file: auth/.env.compose
    networks:
      - app
  mail:
    build: mail/
    ports:
      - "8090:8090"
    env_file: mail/.env.compose
    networks:
      - app
networks:
  app:
    driver: bridge