<div class="side-nav-wrapper">
    <ng-container *ngIf="loading || !(currentEvent$ | async); else content">
        <div class="sidenav-placeholder">
            <svg class="loading-placeholder">
                <svg:circle cx="120" cy="100" r="100" />
                <svg:rect x="10" y="240" rx="8" ry="8" width="220" height="34" />
                <svg:rect x="10" y="279" rx="8" ry="8" width="220" height="34" />
                <svg:rect x="10" y="319" rx="8" ry="8" width="220" height="34" />
                <svg:rect x="10" y="358" rx="8" ry="8" width="220" height="34" />
                <svg:rect x="10" y="397" rx="8" ry="8" width="220" height="34" />
                <svg:rect x="10" y="436" rx="8" ry="8" width="220" height="34" />
                <svg:rect x="10" y="475" rx="8" ry="8" width="220" height="34" />
                <svg:rect x="10" y="514" rx="8" ry="8" width="220" height="34" />
            </svg>
        </div>
    </ng-container>
    <ng-template #content>
        <ng-container [ngSwitch]="navigation$ | async">
            <app-event-side-nav *ngSwitchCase="'event'"></app-event-side-nav>
            <app-event-settings-side-nav *ngSwitchCase="'event-settings'"></app-event-settings-side-nav>
        </ng-container>
    </ng-template>
</div>
