.side-nav-wrapper {
    width: 240px;
    height: 100%;
    background-color: #EBEAE7;
    box-shadow: rgba(0, 0, 0, 0.2) 4px 0 8px;
    overflow: auto;
    padding-bottom: 15px;
}

.logo {
    width: 200px;
    margin: 40px 20px;
    height: auto;
    user-select: none;
}

.navigation {
    margin: 0 10px;
    padding: 0;
}

.navigation a {
    display: block;
    height: 34px;
    margin-top: 5px;
    padding: 5px 20px;
    border-radius: 4px;
    user-select: none;
    color: #4A4A4A;
}

.sublinks {
    margin-left: 30px;
}

.navigation > .sublinks > a {
    display: block;
    height: auto;
    margin-top: 5px;
    padding: 5px 20px;
    font-size: 15px;
    border-radius: 0;
    user-select: none;

    &:hover {
        background-color: transparent;
        text-decoration: none;
        color: #0D5899;
    }

    &.active {
        background-color: transparent;
        color: #0D5899;
    }
}

.navigation a:hover {
    text-decoration: none;
    background-color: #D8D8D8;
}

.navigation a.active {
    background-color: #0D5899;
}

.navigation a.active {
    color: white;
}
