.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}

.description {
    text-align:justify;
}

.ellipsis {
    white-space: pre-wrap;
}

.btn-primary {
    height: 100% !important;
}
