<form [formGroup]="formGroup">
    <div class="row">
        <div class="col-sm-12">
            {{ "components.add_team_form.team_informations" | translate }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group input-group-default mx-0">
                <div class="input-group-prepend">
                    <a class="form-icon">
                        <i class="fa fa-steak"></i>
                    </a>
                </div>
                <input autofocus class="form-control" type="text" controlStatus
                       formControlName="name" placeholder='{{ "general.profile.team_name" | translate }}'>
            </div>
        </div>
    </div>
    <div class="row error-group">
        <div class="col-sm-6">
            <div class="input-group input-group-default mx-0">
                <div class="input-group-prepend">
                    <a class="form-icon">
                        <i class="fa fa-school"></i>
                    </a>
                </div>
                <ng-select [items]="schools" placeholder='{{ "components.profile.school" | translate }}'
                           formControlName="school" bindValue="_id" bindLabel="name" controlStatus>
                </ng-select>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="input-group input-group-default mx-0">
                <div class="input-group-prepend">
                    <a class="form-icon">
                        <i class="fa fa-building"></i>
                    </a>
                </div>
                <ng-select [items]="sponsors" placeholder='{{ "components.add_team_form.sponsor" | translate }}'
                           formControlName="sponsor" bindValue="_id" bindLabel="name" controlStatus>
                </ng-select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group input-group-default mx-0">
                <div class="input-group-prepend">
                    <a class="form-icon">
                        <i class="fa fa-users"></i>
                    </a>
                </div>
                <input autofocus class="form-control" type="number" controlStatus
                       formControlName="maxMembersNumber"
                       placeholder='{{ "components.add_team_form.max_members" | translate }}'>
            </div>
        </div>
    </div>
</form>
