.add-card {
    background-color: #ffffff;
    margin: 5px 5px 20px;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
}

.add-button {
    height: 60px;
    margin: 5px 0;
}