<form [formGroup]="formGroup">
    <label>{{ "components.parking_form.coords" | translate }}</label>
    <div fxLayout="row" fxLayoutAlign="center center">
        <div class="input-group input-group-default ml-0">
            <input autofocus class="form-control" type="number" name="zoom" controlStatus formControlName="zoom"
                   placeholder='{{ "components.parking_form.zoom" | translate }}'>
        </div>
        <div class="input-group input-group-default">
            <input autofocus class="form-control" type="number" name="latitude" controlStatus formControlName="latitude"
                   placeholder='{{ "components.parking_form.latitude" | translate }}'>
        </div>
        <div class="input-group input-group-default mr-0">
            <input autofocus class="form-control" type="number" name="longitude" controlStatus
                   formControlName="longitude" placeholder='{{ "components.parking_form.longitude" | translate }}'>
        </div>
    </div>
</form>

<div fxLayout="column" *ngIf="section" [formGroup]="formGroup">
    <label>{{ "components.parking_form.markers" | translate }}</label>
    <ng-container formArrayName="coordinates">
        <div fxLayout="row" *ngFor="let d of section.coordinates; let i = index">
            <ng-container [formGroupName]="i">
                <div class="input-group input-group-default ml-0">
                    <input class="form-control" type="text" formControlName="latitude"
                           placeholder='{{ "components.parking_form.zoom" | translate }}'>
                </div>
                <div class="input-group input-group-default mr-0">
                    <input class="form-control" type="text" formControlName="longitude"
                           placeholder='{{ "components.parking_form.longitude" | translate }}'>
                    <span class="input-group-btn">
                        <a class="remove btn btn-danger btn-outline pull-right" (click)="deleteValue(i)">
                            <i class="fa fa-trash"></i>
                        </a>
                    </span>
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>
<div>
    <button *ngIf="!showCreate" type="button" class="add-button btn btn-lg btn-block borders" (click)="clickAdd()">
        + {{ "components.parking_form.add" | translate }}
    </button>
    <div *ngIf="showCreate">
        <div fxLayout="column">
            <div fxFlex="100">
                <div fxLayout="row" fxLayoutAlign="end center" *ngIf="newMarker">
                    <div class="input-group input-group-default ml-0">
                        <input autofocus class="form-control" type="number" name="latitude"
                               [(ngModel)]="newMarker.latitude"
                               placeholder='{{ "components.parking_form.latitude" | translate }}'
                               (ngModelChange)="itemChange()">
                    </div>
                    <div class="input-group input-group-default mr-0">
                        <input autofocus class="form-control" type="number" name="longitude"
                               [(ngModel)]="newMarker.longitude"
                               placeholder='{{ "components.parking_form.longitude" | translate }}'
                               (ngModelChange)="itemChange()">
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center">
            <div fxFlex="40">
                <div class="button-group">
                    <a class="btn btn-danger cancel float-right" (click)="cancel()">
                        {{ "general.button.cancel" | translate }} <i class="fal fa-times"></i>
                    </a>
                    <a class="btn btn-primary mr-2 float-right" (click)="add()">
                        {{ "general.button.add" | translate }} <i class="fal fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
