<form [formGroup]="formGroup">
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group input-group-default">
                <ng-select [items]="types" [clearable]="false" placeholder='{{ "components.track_form.type" | translate }}'
                           formControlName="type" controlStatus>
                    <ng-template ng-option-tmp ng-label-tmp let-item="item">
                        <i [ngClass]="getIcon(item)"></i>
                        <span class="ng-option-label">
                            {{ "general.track.types." + item | translate }}
                        </span>
                    </ng-template>
                </ng-select>
            </div>
        </div>
    </div>
</form>
