.tile {
    &:hover {
        cursor: pointer;
        .background:not(.locked) {
            fill: #dedede;
        }
    }
}

.background {
    fill: #F2F1ED;
    border-radius: 11px;
    width: 77px;
    height: 77px;
}

.completed,
.locked {
    fill: #9B9B9B;
}

