<div class="card-wrapper">
    <div class="card bg-white">
        <app-loading-spinner [loading]="loading$"></app-loading-spinner>
        <div class="card-body" fxLayout="column" fxLayoutAlign="center center">
            <div class="w-100">
                <p class="school">{{ flashout.school.name }}</p>
                <ng-container *ngIf="showVotesCount">
                    <small>{{ "pages.flashouts.votes" | translate }} {{ flashout.votes.length }}</small>
                </ng-container>
                
                <youtube-player [videoId]="flashout.videoId" (ready)="onReady()"></youtube-player>
            </div>
            <ng-container *ngIf="rate !== undefined">
                <div class="rating" *ngIf="!showRate">
                    <rating [ngModel]="rating" (ngModelChange)="propagate($event)" [customTemplate]="tt"
                            [titles]="[' ', ' ', ' ', ' ', ' ']"></rating>
                    <ng-template #tt let-i="index" let-v="value">
                        <button class="btn btn-{{i < v ? 'warning' : 'default'}} stars">
                            {{i < v ? '&#9733;' : '&#9734;'}}
                        </button>
                    </ng-template>
                </div>
                <div *ngIf="showRate">
                    <p class="vote">{{ flashout.votes[0].rating }} / 5</p>
                </div>
            </ng-container>
            <div *ngIf="showAverageRate">
                <p class="vote">{{flashout.averageRating | number : '1.2-2'}} / 5</p>
            </div>            
        </div>
    </div>
</div>
