.btn-warning {
    color: #FED265 !important;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    box-shadow: none !important;
}

.stars {
    font-size: 25px;
}

.no-hover {
    pointer-events: none !important;
}

.rating {
    margin-bottom: 5px;
    margin-left: 6px;
}

.card-body {
    padding-bottom: 0;
}
