h1 {
    text-transform: uppercase;
}

.platinum {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}

.silver {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:90%;
}

.bell {
    width:40%;
}

.google {
    width:70%;
}

.gold {
    position: block;
    margin-left:auto;
    margin-right:auto;
    width: 90%;
    text-align:center;
}

.psc {
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 50%;
    text-align:center;
}

.bnc {
    margin-top:85px;
    width:70%;
}

.cse {
    width:70%;
}

.gold-sponsors {
    text-align:center;
}
