h1 {
    text-transform: uppercase;
}

.platinum {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.silver {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.gold {
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 90%;
    text-align:center;
}

.gold-single {
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 50%;
    text-align:center;
}

.gold-sponsors {
    text-align:center;
}
