@import "./app/styles/ng-select.style";
@import "./app/styles/check-box.style";
@import "./app/styles/flipbash.style";
@import "./app/styles/metropolis.style";
@import "./app/styles/modal.style";

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #4A4A4A !important;
    font-family: "Metropolis", sans-serif !important;
    background-color: #F5F4F0 !important;
}

a {
    color: #0D5899;

    &:hover {
        color: #1B406F;
    }
}

.mat-drawer-container {
    color: #4A4A4A !important;
}

.animated {
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.dropdown-default {
    display: inline-block;

    &.toggle-only {
        padding-left: 9px;
        padding-right: 9px;

        &:after {
            position: initial;
        }
    }

    &.show {
        & > .btn {
            &.dropdown-toggle {
                border-color: transparent !important;
                background: transparent !important;
                z-index: 800 - 9 !important;
            }
        }

        .dropdown-menu {
            opacity: 1;
            transform: scale(1, 1);
            z-index: 700;

            .dropdown-item {
                visibility: visible;
            }
        }

        &.dropup {
            & > .btn-primary + .dropdown-menu:after,
            & > .btn-success + .dropdown-menu:after,
            & > .btn-complete + .dropdown-menu:after,
            & > .btn-warning + .dropdown-menu:after,
            & > .btn-danger + .dropdown-menu:after,
            & > .btn-info + .dropdown-menu:after {
                top: auto;
                bottom: 0;
            }
        }

        & > .btn-primary + .dropdown-menu:after,
        & > .btn-success + .dropdown-menu:after,
        & > .btn-complete + .dropdown-menu:after,
        & > .btn-warning + .dropdown-menu:after,
        & > .btn-danger + .dropdown-menu:after,
        & > .btn-info + .dropdown-menu:after {
            top: 0;
            height: 42px;
        }
    }

    &.dropup {
        .btn.dropdown-toggle {
            &.btn-lg {
                & + .dropdown-menu {
                    margin-bottom: -47px;
                    padding-bottom: 49px;

                    &:after {
                        bottom: 49px;
                    }
                }
            }

            &.btn-sm {
                & + .dropdown-menu {
                    margin-bottom: -34px;
                    padding-bottom: 36px;

                    &:after {
                        bottom: 36px;
                    }
                }
            }

            &.btn-xs {
                & + .dropdown-menu {
                    margin-bottom: -29px;
                    padding-bottom: 31px;

                    &:after {
                        bottom: 31px;
                    }
                }
            }
        }

        .dropdown-menu {
            margin-bottom: -40px;
            padding: 0 3px 44px 0 !important;
            transform-origin: center bottom 0;

            &:after {
                bottom: 43px;
                top: auto !important;
            }
        }
    }

    .btn.dropdown-toggle {
        text-align: left;
        padding-right: 27px;

        &.btn-lg {
            padding-right: 32px;

            &:after {
                right: 26px;
            }

            & + .dropdown-menu {
                margin-top: -47px;
                padding-top: 49px;

                &:after {
                    top: 49px;
                }
            }
        }

        &.btn-sm {
            padding-right: 26px;

            &:after {
                right: 16px;
            }

            & + .dropdown-menu {
                margin-top: -34px;
                padding-top: 36px;

                &:after {
                    top: 36px;
                }
            }
        }

        &.btn-xs {
            padding-right: 21px;

            &:after {
                right: 8px;
            }

            & + .dropdown-menu {
                margin-top: -29px;
                padding-top: 31px;

                &:after {
                    top: 31px;
                }
            }
        }

        &:after {
            position: absolute;
            right: 15px;
            top: 50%;
            margin-top: -2px;
        }
    }

    .btn-rounded {
        padding-left: 17px;
        padding-right: 17px;
    }

    .btn-rounded + .dropdown-menu {
        border-radius: 17px;
    }

    .dropdown-menu {
        margin-top: -40px;
        padding-top: 42px;
        overflow: hidden;
        backface-visibility: hidden;
        display: block;
        opacity: 0;
        transform: scale(1, 0);
        transform-origin: center top 0;
        z-index: -1;

        &:after {
            content: "";
            position: absolute;
            height: 1px;
            left: 0;
            top: 42px;
            background: #e6e6e6;
            width: 100%;
        }

        .dropdown-item {
            visibility: hidden;
        }
    }
}

.dropdown-toggle {
    &:after {
        position: absolute;
        right: 15px;
        top: 50%;
        margin-top: -2px;
    }
}

.dropdown-menu {
    position: absolute;
    display: none;
    float: left;
    list-style: none;
    text-shadow: none;
    border: none;
    border-radius: 3px;
    font-size: 13px;
    margin: 0;
    background: #fafafa;
    min-width: 50px;
    z-index: 700 !important;

    .divider {
        background-color: #e6e6e6;
        height: 1px;
        margin: 3px 0;
        border-bottom: 0px;
    }

    & > .dropdown-item {
        padding-left: 0px;
        line-height: 35px;
        color: #626262;
        padding: 0 20px;
        border-radius: 3px;
        display: block;
        clear: both;
        white-space: nowrap;
        text-align: left;

        &:hover, &:focus {
            color: #1a1a1a;
            text-decoration: none;
        }

        &:first-child {
            padding-top: 9px;
        }

        &:last-child {
            padding-bottom: 9px;
        }

        &.dropdown-header {
            padding: 3px 20px;
        }

        &.active {
            &,
            &:hover,
            &:focus {
                color: #1a1a1a;
                text-decoration: none;
                background-color: #f0f0f0;
            }
        }

        &.disabled {
            &,
            &:hover,
            &:focus {
                color: lighten(#626262, 20%);
            }

            &:hover, &:focus {
                text-decoration: none;
                cursor: default;
            }
        }
    }
}

.dropdown-backdrop {
    z-index: 600;
}

.profile-dropdown {
    background: #fff;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px;

    &:before {
        position: absolute;
        top: -7px;
        right: 15px;
        display: inline-block;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #ccc;
        border-left: 7px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        content: '';
    }

    &:after {
        position: absolute;
        top: -6px;
        right: 16px;
        display: inline-block;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #ffffff;
        border-left: 6px solid transparent;
        content: '';
    }

    & > a {
        opacity: .5;
        padding-left: 17px;
        padding-right: 37px;
        min-width: 138px;

        & > i {
            margin-right: 5px;
        }

        &:hover {
            opacity: 1;
        }

        &:last-child {
            margin-top: 11px;
            padding-bottom: 3px !important;
            padding-top: 3px;
        }
    }
}

.profile-dropdown-toggle {
    background: transparent;
    border: none;
}

.card-wrapper {
    position: relative;
    z-index: 1;
}

.card {
    background-color: #F5F4F0;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
}

.card:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 10px;
    left: -13px;
    height: 52px;
    width: 26px;
    background-color: #0D5899;
    border-radius: 8px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
}

.input-group-default {
    background: white;
    border-radius: 8px;
    height: 40px;
    margin: 5px;
    border: #9B9B9B solid 1px;
}

.input-group-default:focus-within {
    border: #0D5899 solid 1px;
}

.input-group-default.has-error {
    border: #dc3545 solid 1px;
}

.input-group-default .form-control {
    background: none;
    border: none;
    outline: none;
    border-radius: 8px;
}

.form-control:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

.form-icon {
    width: 100%;
    text-align: center;
}

.input-group-default .input-group-prepend {
    margin-left: 10px;
    margin-top: 10px;
    width: 20px;
    color: #0D5899;
}

.control-label {
    font-size: 12px;
    font-weight: 300;
    margin: 5px 10px;
}

.btn-primary {
    background-color: #0D5899;
    border: #0D5899;
    color: white !important;

    &:hover {
        background-color: #1B406F;
    }
}

.btn-rounded {
    border-radius: 16px;
}

.modal {
    overflow-y: auto !important;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-right-side {
    overflow: auto !important;
    height: 100%;

    .close {
        position: absolute;
        right: 25px;
        top: 15px;
    }

    .close:focus {
        outline: 0;
    }

    .modal-dialog {
        transition: all .2s !important;
    }

    .modal-content {
        border: none;
        border-radius: 3px;
        background: #EBEAE7;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
    }

    .modal-header {
        text-align: center;
        border-bottom: 0;
        padding: 25px 25px 0 25px;
        position: relative;
        flex-direction: column;
        align-items: flex-start;

        p {
            color: #8b91a0;
        }
    }

    .modal-body {
        box-shadow: none;
        padding: 25px;
        padding-top: 0;
        white-space: normal;
    }

    .modal-footer {
        border-top: none;
        box-shadow: none;
        margin-top: 0;
        padding: 25px;
        padding-top: 0;
    }

    .drop-shadow {
        box-shadow: 0 0 9px rgba(191, 191, 191, .36) !important;
    }

    &.fade {
        opacity: 1 !important;


        &.slide-right {
            .close {
                position: absolute;
                top: 0;
                right: 0;
                margin-right: 10px;
                z-index: 10;
            }

            &.show {
                .modal-dialog {
                    transform: translate3d(0, 0, 0);
                }
            }

            .modal-dialog {
                position: absolute;
                right: 0;
                margin: 0;
                height: 100%;
                transform: translate3d(100%, 0, 0);

                .modal-content-wrapper {
                    height: 100%;
                }

                .modal-content {
                    height: 100%;
                }
            }

            .modal-content {
                border-radius: 0px;
            }
        }
    }
}

.modal-backdrop {
    opacity: 0;
    transition: opacity 0.2s linear;

    &.show {
        opacity: 0.30;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
    }
}

@media (max-width: 768px) {
    .modal {
        &.fill-in {
            .modal-dialog {
                width: calc(100% - 20px);
            }
        }

        &.slide-up {
            .modal-dialog {
                width: calc(100% - 20px);
            }
        }
    }
}

@media (min-width: 544px) {
    .modal {
        &.stick-up {
            .modal-dialog {
                margin: -5px auto;
            }
        }

        &.slide-up {
            .modal-dialog {
                margin: 0 auto;
            }
        }

        &.fill-in {
            .modal-dialog {
                margin: 0 auto;
            }
        }

        .modal-content {
            box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
        }

        .modal-sm {
            width: 300px;
        }

        .modal-sm {
            min-width: auto;
        }
    }
}

.control-error {
    color: #cc5965;
    display: inline-block;
    margin-left: 5px;
}

.text-primary {
    color: #00579c !important;
}

.text-danger {
    color: #f15e58 !important;
}

html, body {
    height: 100%;
}

h1 {
    font-family: 'Flipbash', sans-serif;
    font-size: 29px;
}

h2 {
    font-weight: normal;
}

h3 {
    font-weight: normal;
}

h4 {
    font-weight: normal;
}

.btn-primary {
    background-color: #00579c;
    border-color: #00579c;
    color: white !important;
    height: 38px;
    margin-bottom: 1px;
}

.btn-danger {
    background-color: #f15e58;
    border-color: #f15e58;
    color: white !important;
    height: 38px;
    margin-bottom: 1px;
}

.badge-primary {
    background-color: #00579c;
}

.badge-danger {
    background-color: #f15e58;
}

.btn {
    font-weight: 200;
}

.toast {
    opacity: 1 !important;
}

.nav {
    background: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px;
}

.nav-pills .nav-link.active {
    background-color: #0D5899 !important;
    border-radius: 8px;
}

.nav-pills {
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-link > span {
    color: black;
}

.nav-link.active > span {
    color: white;
}

.clickable {
    cursor: pointer;
}

.scroll {
    overflow-y: scroll !important;
    height: 100vh;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
