<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="!(isHandset$ | async)">
        <div class="dashboard-container">
            <app-events-bar></app-events-bar>
            <app-side-nav></app-side-nav>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()"
            *ngIf="isHandset$ | async">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <app-top-nav></app-top-nav>
        <!-- Add Content Here -->
    </mat-sidenav-content>
</mat-sidenav-container>
