<form [formGroup]="formGroup">
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group input-group-default">
                <div class="input-group-prepend">
                    <a class="form-icon">
                        <i class="fa fa-calendar-alt"></i>
                    </a>
                </div>
                <input class="form-control" type="text"
                       placeholder="{{ 'components.event_form.name' | translate }}" formControlName="name"
                       controlStatus>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="input-group">
                <app-custom-text-box
                    fxFlex="100%"
                    label="{{ 'components.event_form.details' | translate }}"
                    [formType]="'textarea'"
                    controlStatus
                    formControlName="details">
                </app-custom-text-box>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <label class="mb-0 ml-1">{{ "components.event_form.begin_date" | translate }}:</label>
                </div>
                <div class="col-sm-12">
                    <div class="input-group input-group-default">
                        <div class="input-group-prepend">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input autofocus class="form-control" name="beginDate" controlStatus
                               formControlName="beginDate" autocomplete="off"
                               #dp="bsDatepicker"
                               [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue' }"
                               bsDatepicker
                               placeholder='{{ "components.event_form.begin_date" | translate }}'>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <label class="mb-0 ml-1">{{ "components.event_form.end_date" | translate }}:</label>
                </div>
                <div class="col-sm-12">
                    <div class="input-group input-group-default">
                        <div class="input-group-prepend">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input autofocus class="form-control" name="endDate" controlStatus
                               formControlName="endDate" autocomplete="off"
                               #dp="bsDatepicker"
                               [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue' }"
                               bsDatepicker
                               placeholder='{{ "components.event_form.end_date" | translate }}'>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <label class="mb-0 ml-1">{{ "components.event_form.team_edit_lock_date" | translate }}:</label>
        </div>
        <div class="col-sm-6">
            <div class="input-group input-group-default">
                <div class="input-group-prepend">
                    <i class="fa fa-user-lock"></i>
                </div>
                <input autofocus class="form-control" name="teamEditLockDate" controlStatus
                       formControlName="teamEditLockDate" autocomplete="off"
                       #dp="bsDatepicker"
                       [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue' }"
                       bsDatepicker
                       placeholder='{{ "components.event_form.team_edit_lock_date" | translate }}'>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <label class="mb-0 ml-1">{{ "components.event_form.image_url" | translate }}:</label>
        </div>
        <div class="col-sm-12">
            <div class="input-group input-group-default">
                <div class="input-group-prepend">
                    <a class="form-icon">
                        <i class="fa fa-image"></i>
                    </a>
                </div>
                <input class="form-control" type="url"
                       placeholder="{{ 'components.event_form.image_url' | translate }}" formControlName="imageUrl"
                       controlStatus>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <label class="mb-0 ml-1">{{ "components.event_form.cover_url" | translate }}:</label>
        </div>
        <div class="col-sm-12">
            <div class="input-group input-group-default">
                <div class="input-group-prepend">
                    <a class="form-icon">
                        <i class="fa fa-image"></i>
                    </a>
                </div>
                <input class="form-control" type="url"
                       placeholder="{{ 'components.event_form.cover_url' | translate }}" formControlName="coverUrl"
                       controlStatus>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <label class="mb-0 ml-1">{{ "components.event_form.primary_color" | translate }}:</label>
        </div>
        <div class="col-sm-12">
            <div class="input-group input-group-default">
                <div class="input-group-prepend">
                    <a class="form-icon">
                        <i class="fa fa-palette"></i>
                    </a>
                </div>
                <input class="form-control" formControlName="primaryColor" [(colorPicker)]="primaryColor"
                       [cpPosition]="'top'" controlStatus>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="input-group">
                <app-custom-text-box
                        fxFlex="100%"
                        label="{{ 'components.event_form.disclaimer' | translate }}"
                        [formType]="'textbox'"
                        controlStatus
                        formControlName="disclaimer">
                </app-custom-text-box>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="checkbox-group flex-container">
                <input type="checkbox" class="form-checkbox" id="publicTransportation"
                       formControlName="publicTransportation">
                <label class="checkboxText flex-content"
                       for="publicTransportation">{{ "components.event_form.public_transportation" | translate }}</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="checkbox-group flex-container">
                <input type="checkbox" class="form-checkbox" id="askDietaryRestriction"
                       formControlName="askDietaryRestriction">
                <label class="checkboxText flex-content"
                       for="askDietaryRestriction">{{ "components.event_form.ask_dietary_restriction" | translate }}</label>
            </div>
        </div>
    </div>
</form>
