.borders {
    background: transparent;
    border: 1px dashed #9B9B9B;
    width: 99%;
    margin-bottom: 10px;

    &:hover {
        border: 1px dashed #08579d;
    }
}

.add-team-card {
    background-color: #ffffff;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
}

.add-button {
    height: 283px;
}

hr {
    margin: 0;
}
