<div class="page-wrapper">
    <h1>{{ "pages.team.teams" | translate }}</h1>
    <app-loading-spinner [loading]="loading$">
    </app-loading-spinner>
    <ng-container *ngIf="error$ | async">
        <div style="text-align: center">
            <i class="far fa-times-circle error fa-8x"></i>
            <h5>{{ "pages.team.loading_error" | translate }}</h5>
        </div>
    </ng-container>

    <ng-container *ngIf="sortedFilteredTeams$ | async as teams">
        <div class="row mt-4">
            <div class="col-sm-7">
                <h2>
                    {{ teams?.length }} {{ "pages.team.teams" | translate }}
                </h2>
            </div>
            <div class="col-sm-5">
                <div class="input-group input-group-default mx-0">
                    <div class="input-group-prepend">
                        <a class="form-icon">
                            <i class="fal fa-search"></i>
                        </a>
                    </div>
                    <input autofocus class="form-control" type="text" [(ngModel)]="searchInput"
                           placeholder='{{ "general.search.search" | translate }}'>
                </div>
            </div>
        </div>

        <hr>
        <div class="row mt-2" *ngIf="!(error$ | async)">
            <div class="col-sm-6 col-lg-6">
                <button *ngIf="!showCreateTeamCard" type="button" class="add-button btn btn-lg btn-block borders"
                        (click)="clickCreateTeam()">
                    + {{ "pages.team.add_team" | translate }}
                </button>
                <div *ngIf="showCreateTeamCard" class="add-team-card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <app-add-team-form [ngModel]="newTeamDto"
                                                   (ngModelChange)="onEditNewTeam($event)"
                                                   [schools]="schools$ | async"></app-add-team-form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="offset-sm-5 col-sm-7">
                                <div class="button-group">
                                    <a class="btn btn-danger cancel float-right" (click)="onCancelTeam()">
                                        {{ "general.button.cancel" | translate }} <i class="fal fa-times"></i>
                                    </a>
                                    <a class="btn btn-primary mr-2 float-right" (click)="onAddTeam()">
                                        {{ "general.button.add" | translate }} <i class="fal fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6" *ngFor="let team of teams">
                <div class="card-wrapper">
                    <div class="card bg-white">
                        <div class="card-body">
                            <h3>
                                {{ team?.name }}
                                <a class="btn btn-link float-right" [routerLink]="['/team/' + team?._id]">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </h3>
                            <small>{{ team?.school?.name }}</small>
                            <app-attendee-view [attendee]="getTeamCaptain(team)"></app-attendee-view>
                            <h5 class="mt-1">{{ "pages.team.team_members" | translate }}
                                <b>
                                    <a *ngIf="team?.maxMembersNumber === 11"> ({{ getTeamAttendees(team)?.length }}
                                        /10)</a>
                                    <a *ngIf="team?.maxMembersNumber !== 11">
                                        ({{ getTeamAttendees(team)?.length }}
                                        /{{ team?.attendees?.maxMembersNumber - 1 }})
                                    </a>
                                </b>
                                <i class="fal fa-check-circle text-white text-primary float-right"
                                   tooltip="{{ 'pages.team.registered' | translate }}"
                                   placement="left" *ngIf="areTeamMembersAllRegistered(team)"></i>
                                <i class="fal fa-times-circle text-white text-danger float-right"
                                   tooltip="{{ 'pages.team.not_registered' | translate }}"
                                   placement="left" *ngIf="!areTeamMembersAllRegistered(team)"></i>
                            </h5>
                            <h5 class="mt-1">
                                {{ "pages.team.godparent" | translate }}
                                <b>({{ getTeamGodparent(team)?.length }}/1)</b>
                                <i class="fal fa-check-circle text-white text-primary float-right"
                                   tooltip="{{ 'pages.team.registered' | translate }}"
                                   placement="left" *ngIf="areTeamMembersAllRegistered(team)"></i>
                                <i class="fal fa-times-circle text-white text-danger float-right"
                                   tooltip="{{ 'pages.team.not_registered' | translate }}"
                                   placement="left" *ngIf="!areTeamMembersAllRegistered(team)"></i>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>
