<div class="card competition-card">
    <div class="card-body competition-card-body">
        <div fxLayout="row" class="tile">
            <div fxFlex="initial">
                <i class="fal fa-trophy"></i>
            </div>
            <div fxFlex>
                <p class="name">{{ competition.activities[0].name | t18n }}</p>
                <p class="hours">{{ competition.activities[0].beginDate | hours }} - {{ competition.activities[competition.activities.length-1].endDate | hours }}</p>
                <p class="location">{{ competition.activities[0].location }}</p>
            </div>
            <div fxFlex *ngIf="competition.isLive" fxLayout="column" fxLayoutAlign="end end">
                {{ "pages.competition.live" | translate }}
                <a class="btn btn-primary btn-rounded participate px-3" (click)="onShowInfo(competition)">
                    {{ "pages.competition.participate" | translate }}</a>
            </div>
        </div>
        <div fxLayout="row" class="tile">
            <div>{{ competition.activities[0].details | t18n }}</div>
        </div>
        <div class="text-center" *ngIf="!isSubscribed">
            <a class="not-subscribed btn btn-primary btn-rounded mt-3 px-3" (click)="subscribe()">
                {{ "general.button.subscribe" | translate }}
            </a>
        </div>
        <div class="text-center" *ngIf="isSubscribed">
            <a class="btn btn-primary btn-rounded mt-3 px-3 subscribed">
                {{ "general.button.subscribed" | translate }}
            </a>
        </div>
    </div>
</div>
