<div class="card competition-card clickable" (click)="info.emit()">
    <div class="card-body competition-card-body">
        <div fxLayout="row" class="tile">
            <div fxFlex="initial">
                <i class="fal fa-trophy"></i>
            </div>
            <div fxFlex>
                <p class="name">{{ competition.activities[0].name }}</p>
                <p class="hours">{{ competition.activities[0].beginDate | hours }} - {{ competition.activities[0].endDate | hours }}</p>
                <p class="location">{{ competition.activities[0].location }}</p>
            </div>
            <div fxFlex *ngIf="competition.isLive" fxLayout="column" fxLayoutAlign="end end">
                {{ "pages.competition.live" | translate }}
                <a class="btn btn-primary btn-rounded participate px-3" (click)="onShowInfo(competition, competition.activities[0].beginDate)">
                    {{ "pages.competition.participate" | translate }}</a>
            </div>
        </div>
        <div fxLayout="row" class="tile">
            <div *ngIf="lang === 'fr'">{{ competition.activities[0].details.fr }}</div>
            <div *ngIf="lang === 'en'">{{ competition.activities[0].details.en }}</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center" class="tile" *ngIf="!subscribed">
            <a class="not-subscribed btn btn-primary btn-rounded mt-3 px-3" (click)="subscribe()">
                {{ "general.button.subscribe" | translate }}</a>
        </div>
        <div fxLayout="row" fxLayoutAlign="center" class="tile" *ngIf="subscribed">
            <a class="subscribed btn btn-primary btn-rounded mt-3 px-3">
                {{ "general.button.subscribed" | translate }}
            </a>
        </div>
    </div>
</div>
