<div class="modal-centered fade slide-up show animated slideInDown scroll" tabindex="-1" role="dialog"
     style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content-wrapper">
            <div class="modal-content card">
                <div class="modal-header">
                    <h1>Créer une piste</h1>
                    <button type="button" class="close" (click)="close()"><span aria-hidden="true">×</span><span
                        class="sr-only">{{ "general.button.close" | translate }}</span>
                    </button>
                </div>
                <div class="modal-body">
                    <app-track-form></app-track-form>
                    <div class="text-center">
                        <a class="btn btn-primary btn-rounded mt-3 px-3"
                           (click)="createTrack()">{{ "general.button.save" | translate }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
