.competition-card {
    margin-bottom: 8px;
}

.competition-card-body {
    background-color: white;
    border-radius: 6px;
}

.card {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06) !important;
    border: none;
}

.card-body {
    padding: 0;
}

.fal {
    font-size: 40px;
}

.tile {
    margin: 10px 10px 10px 20px;
    text-align: justify;
}

i {
    margin-top: 13px;
    margin-right: 16px;
    margin-left: 5px;
}

.hours {
    font-size: 13px;
    margin-bottom: 0;
}

.location {
    font-size: 11px;
    margin-bottom: 0;
}

.name {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
}

.fal {
    font-size: 40px;
}

.btn-primary {
    height: 100% !important;
    
}

.not-subscribed {
    background-color: #FD605B !important;
    border-color: #FD605B !important;
    margin-bottom: 30px !important;
}

.subscribed {
    background-color: gray !important;
    border-color: gray !important;
    margin-bottom: 30px !important;
}

.participate {
    margin-top: 2px !important;
}
