<div class="page-wrapper">
    <app-loading-spinner [loading]="loading$">
    </app-loading-spinner>

    <ng-container *ngIf="error$ | async">
        <div style="text-align: center">
            <i class="far fa-times-circle error fa-8x"></i>
            <h5>{{ "pages.competition.loading_error" | translate }}</h5>
        </div>
    </ng-container>

    <ng-container *ngIf="competition$ | async as competition">
        <h1>{{ competition.activities[0].name | t18n }}</h1>

        <ng-container *ngFor="let question of competition?.questions">
            <app-question-card [question]="question"></app-question-card>
        </ng-container>
    </ng-container>

</div>
