.description {
    text-align:justify;
}

.name {
    font-size: 20px;
    margin-bottom: 0px;
    text-align: left;
}

i {
    padding-top: 3px;
}

.hours {
    font-size: 13px;
    margin-bottom: 0px;
    text-align: left;
    padding-left: 2px;
}

.tile {
    margin: 10px 10px 10px 0px;
    display: flex;
    justify-content: space-around;
}

.firstIcon {
    font-size: 40px;
}

.btn-primary {
    height: 100% !important;
}

.answer {
    margin: 20px 5px 5px 0px;
}
