.top-nav-wrapper {
    width: 100%;
    height: 64px;
    background-color: #EBEAE7;
    box-shadow: rgba(0, 0, 0, 0.2) 6px 4px 8px;
    padding: 0 10px;
}

.dropdown-identity-toggle {
    user-select: none;
    font-weight: 600;
}

.notification-icon {
    font-size: 1.5em;
}

.nav-link {
    place-content: center flex-end;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    height: 64px;
    position: relative;
}

.nav-link:hover {
    background-color: #e6e5e2;
    color: #0D5899 !important;
    cursor: pointer;
}

.count-info {
    line-height: 3px;
    padding: 2px 2px;
    position: absolute;
    right: 15px;
    top: 18px;
    border-radius: 50%;
}

