<div class="top-nav-wrapper" fxLayoutAlign="start center">
    <div class="nav-link" [hidden]="!showToggleSideNav" (click)="clickToggleSideNav()">
        <i class="fas fa-bars toggle-side-nav-icon"></i>
    </div>
    <span fxFlex></span>
    <div class="nav-link" (click)="clickNotificationsButton()">
        <i class="far fa-bell notification-icon"></i>
        <span class="badge badge-danger count-info">&nbsp;</span>
    </div>
    <div class="btn-group" dropdown placement="bottom left">
        <a dropdownToggle class="dropdown-identity-toggle nav-link">
            Brandon Roberge&nbsp;
            <img ngxGravatar [email]="'brandon@rober.ge'">
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right profile-dropdown" role="menu">
            <a class="dropdown-item" href="#"><i class="fa fa-cog"></i> {{ "components.top_bar.profile_settings" | translate }}</a>
            <a class="dropdown-item" href="#"><i class="fa fa-sign-out-alt"></i> {{ "components.top_bar.sign_out" | translate }}</a>
        </div>
    </div>

</div>

