<div class="top-nav-wrapper" fxLayoutAlign="start center">
    <div class="nav-link" [hidden]="!showToggleSideNav" (click)="clickToggleSideNav()">
        <i class="fas fa-bars toggle-side-nav-icon"></i>
    </div>
    <span fxFlex></span>
    <div class="nav-link" (click)="clickNotificationsButton()">
        <i class="fa fa-bell notification-icon"></i>
        <span *ngIf="unseen" class="badge badge-danger count-info">&nbsp;</span>
    </div>

    <ng-container *ngIf="!loading">
        <div class="btn-group" dropdown placement="bottom left">
            <ng-container *ngIf="currentAttendee$ | async as currentAttendee">
                <a dropdownToggle class="dropdown-identity-toggle nav-link">
                    {{ currentAttendee.firstName }} {{ currentAttendee.lastName }}&nbsp;&nbsp;
                    <img ngxGravatar [email]="currentAttendee.email">
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right profile-dropdown" role="menu">
                    <ng-container
                        *ngIf="(currentAttendee$ | async)?.role == 'attendee' || (currentAttendee$ | async)?.role == 'captain' || (currentAttendee$ | async)?.role == 'godparent'">
                        <a class="dropdown-item" *ngIf="(currentAttendee$ | async)?.registered" (click)="editProfile.emit()"><i class="fa fa-cog"></i>
                            {{ "components.top_bar.profile_settings" | translate }}</a>
                    </ng-container>

                    <a class="dropdown-item" (click)="changePassword.emit()"><i class="fa fa-unlock-alt"></i> {{ "components.top_bar.change_password" | translate }}</a>
                    <a class="dropdown-item" (click)="changeLanguage()"><i class="fas fa-globe-americas"></i> {{ "components.top_bar.change_language" | translate }}</a>
                    <a class="dropdown-item" (click)="clickLogout()"><i class="fa fa-sign-out-alt"></i> {{ "components.top_bar.sign_out" | translate }}</a>
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>
