<div class="card competition-card clickable" (click)="info.emit()">
        <div class="card-body competition-card-body">
            <div fxLayout="row" class="tile">
                <div fxFlex="initial">
                    <i class="fal fa-question"></i>
                </div>
                <div fxFlex>
                    <p class="name">{{ question.label | t18n }}</p>
                </div>
            </div>
        </div>
    </div>

<!-- label, description, type de validation, nombre de points pour la question (peut-être pourcentage) -->