<div class="background">
    <div class="reset-content" fxFlexFill fxLayout fxLayoutAlign="center center">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-10 ml-auto mr-auto">
                    <div class="card-wrapper animated fadeInDown">
                        <div class="card">
                            <app-loading-spinner [loading]="loading$ | async"></app-loading-spinner>
                            <img class="logo" src="../../../assets/logo-long.svg">
                            <div class="link-error" *ngIf="validateError$ | async">{{ "general.error.reset_code_error" | translate }}</div>
                            <div class="card-body" *ngIf="!(validateError$ | async)">
                                <form [formGroup]="formGroup">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="input-group input-group-default">
                                                <div class="input-group-prepend">
                                                    <i class="fa fa-lock"></i>
                                                </div>
                                                <input class="form-control" type="password" name="password"
                                                    controlStatus formControlName="password" placeholder='{{ "general.profile.password" | translate }}'>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="input-group input-group-default">
                                                <div class="input-group-prepend">
                                                    <i class="fa fa-lock"></i>
                                                </div>
                                                <input class="form-control" type="password" name="confirm-password"
                                                    controlStatus formControlName="confirmPassword" placeholder='{{ "pages.register.confirm_password" | translate }}'>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="text-center">
                                    <a class="btn btn-primary btn-rounded mt-3 px-3" (click)="clickReset()">
                                        {{ "general.button.reset" | translate }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
