<form [formGroup]="formGroup">
    <div class="row error-group">
        <div class="col-sm-6 pr-sm-1">
            <div class="input-group input-group-default">
                <div class="input-group-prepend">
                    <i class="fas fa-user"></i>
                </div>
                <input autofocus class="form-control" type="text" name="first-name" controlStatus
                       formControlName="firstName" placeholder='{{ "general.profile.first_name" | translate }}'>
            </div>
        </div>
        <div class="col-sm-6 pl-sm-1">
            <div class="input-group input-group-default">
                <div class="input-group-prepend">
                    <i class="fas fa-user"></i>
                </div>
                <input autofocus class="form-control" type="text" name="last-name" controlStatus
                       formControlName="lastName" placeholder='{{ "general.profile.last_name" | translate }}'>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="input-group input-group-default">
                <div class="input-group-prepend">
                    <i class="fa fa-at"></i>
                </div>
                <input autofocus class="form-control" type="email" controlStatus
                       formControlName="username" placeholder='{{ "general.profile.email" | translate }}'>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="input-group input-group-default">
                <div class="input-group-prepend">
                    <i class="fa fa-lock"></i>
                </div>
                <input class="form-control" type="password" name="password" controlStatus
                       formControlName="password" placeholder='{{ "general.profile.password" | translate }}'>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group input-group-default">
                <div class="input-group-prepend">
                    <i class="fa fa-lock"></i>
                </div>
                <input class="form-control" type="password" name="confirm-password" controlStatus
                       formControlName="confirmPassword" placeholder='{{ "pages.register.confirm_password" | translate }}'>
            </div>
        </div>
    </div>
</form>
