<div class="modal-centered fade slide-up show animated slideInDown scroll" tabindex="-1" role="dialog"
     style="display: block;">
    <div class="modal-dialog modal-md">
        <div class="modal-content-wrapper">
            <div class="modal-content card">
                <app-loading-spinner [loading]="loading$"></app-loading-spinner>
                <div class="modal-header">
                    <h1 class="title">{{ "components.competition_settings.settings" | translate }}</h1>
                    <button type="button" class="close" (click)="close()"><span aria-hidden="true">×</span><span
                        class="sr-only">{{ "general.button.close" | translate }}</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="formGroup">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="checkbox-group flex-container">
                                    <input type="checkbox" class="form-checkbox" id="open"
                                           formControlName="open">
                                    <label class="checkboxText flex-content"
                                           for="open">{{ "general.button.close" | translate }}</label>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="text-center">
                        <a class="btn btn-primary btn-rounded mt-3 px-3"
                           (click)="clickSave()">{{ "general.button.save" | translate }}</a>
                    </div>
                    <div class="text-center text-danger" *ngIf="error$ | async">
                        {{ "components.puzzle_hero_settings.error" | translate }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
