.title {
    font-size: 18px;
    font-weight: 200;
}
.card {
    margin: 20px 0px 30px 15px;
    width: 97%;
    border-bottom: none;
}

.fa-hotel {
    margin-left: 4px !important;
    margin-right: 3px !important;
}

.fa-clipboard-check {
    margin-left: 14px !important;
    margin-right: 11px !important;
}

.fa-map-marked-alt {
    margin-left: 4px !important;
    margin-right: 2px !important;
}

.fa-parking {
    margin-left: 10px !important;
    margin-right: 9px !important;
}

.fa-utensils {
    margin-left: 8px !important;
    margin-right: 8px !important;
}
