<accordion class="card-wrapper" id="accordion">
    <accordion-group (isOpenChange)="clickAccordion()" [isOpen]="startsOpened">
        <div accordion-heading fxLayout="row" fxLayoutAlign="start center">
            <i class='fal firstIcon' [ngClass]="iconClass"></i>
            <div>
                <span class="title">{{ title }}</span>
            </div>
            <div fxFlex></div>
            <i class='fas fa-caret-down' [class.fa-rotate-90]="!isOpen"></i>
        </div>
        <ng-content></ng-content>
    </accordion-group>
</accordion>
