<accordion class="card-wrapper" id="accordion">
    <accordion-group (isOpenChange)="clickAccordion()" [isOpen]="startsOpened">
        <div accordion-heading fxLayout="row" fxLayoutAlign="center center" class="caret-clicker clickable">
            <i fxFlex="initial" class='fal firstIcon' [ngClass]="iconClass"></i>
            <div fxFlex class="title">
                {{ title }}
            </div>
            <a *ngIf="hasEdit" class="btn btn-default" (click)="onClickUpdateGuide($event, guide)">
                <i class="fal fa-edit"></i>
            </a>
            <i fxFlex="nogrow" class='fas fa-caret-down float-right' [class.fa-rotate-90]="!isOpen"></i>
        </div>
        <ng-content></ng-content>
    </accordion-group>
</accordion>
