<div class="page-wrapper">
    <h1 class="title">{{ "pages.onboarding.onboarding" | translate }}</h1>
    <div class="onboard-container">
        <app-loading-spinner [loading]="loading$"></app-loading-spinner>
        <app-attendee-form [event]="event$ | async" [(ngModel)]="currentAttendee" (downloadCv)="downloadCv()"></app-attendee-form>
        <div class="row">
            <div class="col-sm-12">
                <div class="checkbox-group flex-container">
                    <input type="checkbox" class="form-checkbox" id="accept-code" [(ngModel)]="acceptedCode">
                    <label for="accept-code" class="flex-content" *ngIf="event$ | async as event">
                        {{ "pages.onboarding.agree" | translate }}
                        <a *ngIf="lang === 'en'" [href]="event?.disclaimer?.en"
                           target="_blank">{{ "pages.onboarding.code" | translate }}</a>
                        <a *ngIf="lang === 'fr'" [href]="event?.disclaimer?.fr"
                           target="_blank">{{ "pages.onboarding.code" | translate }}</a>
                    </label>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a class="btn btn-primary btn-rounded mt-3 px-3"
               (click)="saveInfo()"
               [class.disabled]="!acceptedCode">{{ "general.button.save" | translate }}</a>
        </div>
    </div>
</div>
