.timestamp {
    font-size: 12px;
    text-align: left;
    margin-bottom: 0px;
}

.notif-line {
    margin-top: 3px;
    margin-bottom: 3px;
}

.notif-title {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0px;
}

.notif-message {
    font-size: 13px;
    text-align: left;
    margin-bottom: 0px;
}

.card {
    margin-bottom: 10px;
}

.card-body {
    padding: 10px;
}
