<div class="modal-centered fade slide-up show animated slideInDown scroll" tabindex="-1" role="dialog"
     style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content-wrapper">
            <div class="modal-content card">
                <!-- <app-loading-spinner [loading]="loading$"></app-loading-spinner> -->
                <div class="modal-header">
                    <h1 class="title">{{ "components.section.edit_section" | translate }}</h1>
                    <button type="button" class="close" (click)="close()"><span aria-hidden="true">×</span><span
                        class="sr-only">{{ "general.button.close" | translate }}</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ng-container [ngSwitch]="type">
                        <bring-form *ngSwitchCase="'bring'" [(ngModel)]="guide.bring"></bring-form>
                        <hotel-form *ngSwitchCase="'hotel'" [(ngModel)]="guide.hotel"></hotel-form>
                        <school-form *ngSwitchCase="'school'" [(ngModel)]="guide.school"></school-form>
                        <map-form *ngSwitchCase="'map'" [(ngModel)]="guide.school"></map-form>
                        <parking-form *ngSwitchCase="'parking'" [(ngModel)]="guide.parking"></parking-form>
                    </ng-container>
                </div>
                <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center" class="container">
                    <a class="btn btn-primary btn-rounded mt-1 mb-3 px-3"
                       (click)="clickSave()">{{ "general.button.save" | translate }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
