<img class="logo" [src]="(currentEvent$ | async)?.imageUrl">
<div class="navigation">
    <a [routerLink]="['/event/setting']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <div [fxLayout]="'row'" fxFlexFill>
            <div fxFlex="20">
                <i class="fa fa-calendar"></i>
            </div>
            <div fxFlex="80">
                {{ "components.side_nav.general" | translate }}
            </div>
        </div>
    </a>

    <a [routerLink]="['/event/setting/template']" routerLinkActive="active">
        <div [fxLayout]="'row'" fxFlexFill>
            <div fxFlex="20">
                <i class="fa fa-envelope"></i>
            </div>
            <div fxFlex="80">
                {{ "components.side_nav.email_templates" | translate }}
            </div>
        </div>
    </a>
    <div class="sublinks" *ngIf="isActive(['event/setting/template'])">
        <a [routerLink]="['/event/setting/template']" [queryParams]="{ type: 'attendee' }" routerLinkActive="active">
            <div [fxLayout]="'row'" fxFlexFill>
                <div fxFlex="20">
                    <i class="fa fa-user-friends"></i>
                </div>
                <div fxFlex="80">
                    {{ "pages.event.settings.email_templates.attendee" | translate }}
                </div>
            </div>
        </a>
        <a [routerLink]="['/event/setting/template']" [queryParams]="{ type: 'captain' }" routerLinkActive="active">
            <div [fxLayout]="'row'" fxFlexFill>
                <div fxFlex="20">
                    <i class="fa fa-user-shield"></i>
                </div>
                <div fxFlex="80">
                    {{ "pages.event.settings.email_templates.captain" | translate }}
                </div>
            </div>
        </a>
        <a [routerLink]="['/event/setting/template']" [queryParams]="{ type: 'godparent' }" routerLinkActive="active">
            <div [fxLayout]="'row'" fxFlexFill>
                <div fxFlex="20">
                    <i class="fa fa-user-secret"></i>
                </div>
                <div fxFlex="80">
                    {{ "pages.event.settings.email_templates.godparent" | translate }}
                </div>
            </div>
        </a>
    </div>
</div>
<div class="navigation-bottom" (click)="clickBack()">
    <hr class="mx-2">
    <i class="fa fa-chevron-left mr-2"></i> {{ "components.side_nav.back" | translate }}
</div>
