<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669372657906-cd6g94o1gghh8md9p8jppeneu8vrcdrj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669372657906-cd6g94o1gghh8md9p8jppeneu8vrcdrj</string>
	<key>API_KEY</key>
	<string>AIzaSyAtEisM2oqE-NQKc6Ft7lDKVEkAJ-S_ESs</string>
	<key>GCM_SENDER_ID</key>
	<string>669372657906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.csgames.app.dev</string>
	<key>PROJECT_ID</key>
	<string>csgames</string>
	<key>STORAGE_BUCKET</key>
	<string>csgames.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669372657906:ios:c3f10e09b8040c3f76606b</string>
	<key>DATABASE_URL</key>
	<string>https://csgames.firebaseio.com</string>
</dict>
</plist>