<form [formGroup]="formGroup">
    <div fxLayout="row" fxLayoutAlign="end center">
        <div class="col-sm-12">
            <div class="input-group input-group-default no-grow">
                <input autofocus class="form-control" type="text" name="name" controlStatus formControlName="name"
                    placeholder='{{ "components.school_form.name" | translate }}'>
            </div>
            <div class="input-group input-group-default no-grow">
                <input autofocus class="form-control" type="text" name="address" controlStatus formControlName="address"
                    placeholder='{{ "components.school_form.address" | translate }}'>
            </div>
            <div class="input-group input-group-default no-grow">
                <input autofocus class="form-control" type="number" name="zoom" controlStatus formControlName="zoom"
                    placeholder='{{ "components.school_form.zoom" | translate }}'>
            </div>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center">
        <div class="col-sm-6">
            <div class="input-group input-group-default no-grow">
                <input autofocus class="form-control" type="number" name="latitude" controlStatus formControlName="latitude"
                    placeholder='{{ "components.school_form.latitude" | translate }}'>
            </div>
        </div>
        <div class="col-sm-6">  
            <div class="input-group input-group-default no-grow">
                <input autofocus class="form-control" type="number" name="longitude" controlStatus formControlName="longitude"
                    placeholder='{{ "components.school_form.longitude" | translate }}'>
            </div>
        </div>
    </div>
</form>
