<div class="table-responsive">

    <table class="table table-hover">
        <thead>
        <tr>
            <th></th>
            <th>Position</th>
            <th>Team name</th>
            <th>School</th>
            <th>Score</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let score of sortedScores; let i = index">
            <td>
                <input type="checkbox" class="form-checkbox mt-0" [ngModel]="isSelected(score.teamId)"
                       (ngModelChange)="checkTeam($event, score.teamId)">
            </td>
            <td>
                {{ i + 1 }}
            </td>
            <td>
                {{ score.teamName }}
            </td>
            <td>
                {{ score.schoolName }}
            </td>
            <td>
                {{ score.score }}
            </td>
        </tr>
        </tbody>
    </table>
</div>
