.modal-centered {
    overflow: hidden !important;
    height: 100%;

    .modal-content-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .close {
        position: absolute;
        right: 25px;
        top: 15px;
    }

    .close:focus {
        outline: 0;
    }

    .modal-dialog {
        display: table;
        transition: all .2s !important;
        height: 100%;
    }

    .modal-content {
        border-radius: 10px !important;
        background-color: #fff !important;
        border: 1px solid #f2f6f7 !important;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
    }

    .modal-header {
        text-align: center;
        border-bottom: 0;
        padding: 25px 25px 0 25px;
        position: relative;
        flex-direction: column;
        align-items: flex-start;

        p {
            color: #8b91a0;
        }
    }

    .modal-body {
        box-shadow: none;
        padding: 25px;
        padding-top: 0;
        white-space: normal;
        overflow-y: auto;
        height: 690px;
    }

    .modal-footer {
        border-top: none;
        box-shadow: none;
        margin-top: 0;
        padding: 25px;
        padding-top: 0;
    }

    .drop-shadow {
        box-shadow: 0 0 9px rgba(191, 191, 191, .36) !important;
    }
}
