<form [formGroup]="formGroup">
    <div class="row">
        <div class="col-sm-6 pr-sm-1">
            <div class="input-group input-group-default">
                <div class="input-group-prepend">
                    <i class="fas fa-user"></i>
                </div>
                <input autofocus class="form-control" type="text" name="first-name"
                       placeholder='{{ "general.profile.first_name" | translate }}'>
            </div>
        </div>
        <div class="col-sm-6 pl-sm-1">
            <div class="input-group input-group-default">
                <div class="input-group-prepend">
                    <i class="fas fa-user"></i>
                </div>
                <input autofocus class="form-control" type="text" name="last-name"
                       placeholder='{{ "general.profile.last_name" | translate }}'>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="input-group input-group-default">
                <div class="input-group-prepend">
                    <i class="fa fa-at"></i>
                </div>
                <input autofocus class="form-control" type="email"
                       placeholder='{{ "general.profile.email" | translate }}'>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="input-group input-group-default">
                <div class="input-group-prepend">
                    <i class="fa fa-lock"></i>
                </div>
                <input class="form-control" type="password" name="password"
                       placeholder='{{ "general.profile.password" | translate }}'>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group input-group-default">
                <div class="input-group-prepend">
                    <i class="fa fa-lock"></i>
                </div>
                <input class="form-control" type="password" name="confirm-password"
                       placeholder='{{ "pages.register.confirm_password" | translate }}'>
            </div>
        </div>
    </div>
    <div class="text-center">
        <a class="btn btn-primary btn-rounded mt-3 px-3" (click)="clickRegister()">{{ "pages.register.register" | translate }}</a>
    </div>
    <hr>
    <div class="text-center mt-3">
        <a [routerLink]="['/login']">{{ "pages.register.already_have_account" | translate }}</a>
    </div>
</form>
