h1 {
    text-transform: uppercase;
}

.time-card {
    background-color: white;
    border-radius: 6px;
    margin-bottom: 8px;
}

.time-card-body {
    padding-left: 10px !important;
}

.card-body {
    padding: 0;
}

.col-sm {
    width: 70% !important;
}

