<h1>{{ "pages.schedule.schedule" | translate }}</h1>
<app-loading-spinner [loading]="loading$ | async"></app-loading-spinner>
<tabset type="pills">
    <tab *ngFor="let date of dates" [heading]="date">
        <div *ngFor="let time of getSortedKeysForDaySchedule(activitiesPerDay[date])">
            <div class="time-card">
                <div class="card-body time-card-body">
                    <span>{{ time }}</span>
                </div>
            </div>
            <ng-container *ngIf="activitiesPerDay[date][time].length == 1">
                <div class="card activity-card clickable" (click)="onShowInfo(activitiesPerDay[date][time][0], time)">
                    <div class="card-body activity-card-body">
                        <div class="row tile">
                            <i *ngIf="activitiesPerDay[date][time][0].type == 'competition'" class="fal fa-trophy"></i>
                            <i *ngIf="activitiesPerDay[date][time][0].type == 'other'" class="fal fa-calendar"></i>
                            <i *ngIf="activitiesPerDay[date][time][0].type == 'food'" class="fal fa-utensils"></i>
                            <div class="col-sm">
                                <p class="name">{{ activitiesPerDay[date][time][0].name }}</p>
                                <p class="hours">{{ time }} - {{ activitiesPerDay[date][time][0].endDate | hours }}</p>
                                <p class="location">{{ activitiesPerDay[date][time][0].location }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="activitiesPerDay[date][time].length == 4">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <div class="card activity-card third-card clickable" (click)="onShowInfo(activitiesPerDay[date][time][0], time)">
                            <div class="card-body activity-card-body">
                                <div class="row tile">
                                    <i *ngIf="activitiesPerDay[date][time][0].type == 'competition'" class="fal fa-trophy"></i>
                                    <i *ngIf="activitiesPerDay[date][time][0].type == 'other'" class="fal fa-calendar"></i>
                                    <i *ngIf="activitiesPerDay[date][time][0].type == 'food'" class="fal fa-utensils"></i>
                                    <div class="col-sm">
                                        <p class="name">{{ activitiesPerDay[date][time][0].name }}</p>
                                        <p class="hours">{{ time }} - {{ activitiesPerDay[date][time][0].endDate | hours }}</p>
                                        <p class="location">{{ activitiesPerDay[date][time][0].location }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="card activity-card third-card clickable" (click)="onShowInfo(activitiesPerDay[date][time][1], time)">
                            <div class="card-body activity-card-body">
                                <div class="row tile">
                                    <i *ngIf="activitiesPerDay[date][time][1].type == 'competition'" class="fal fa-trophy clickable"></i>
                                    <i *ngIf="activitiesPerDay[date][time][1].type == 'other'" class="fal fa-calendar clickable"></i>
                                    <i *ngIf="activitiesPerDay[date][time][1].type == 'food'" class="fal fa-utensils clickable"></i>
                                    <div class="col-sm">
                                        <p class="name">{{ activitiesPerDay[date][time][1].name }}</p>
                                        <p class="hours">{{ time }} - {{ activitiesPerDay[date][time][1].endDate | hours }}</p>
                                        <p class="location">{{ activitiesPerDay[date][time][1].location }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <div class="card activity-card third-card clickable" (click)="onShowInfo(activitiesPerDay[date][time][2], time)">
                            <div class="card-body activity-card-body">
                                <div class="row tile">
                                    <i *ngIf="activitiesPerDay[date][time][2].type == 'competition'" class="fal fa-trophy"></i>
                                    <i *ngIf="activitiesPerDay[date][time][2].type == 'other'" class="fal fa-calendar"></i>
                                    <i *ngIf="activitiesPerDay[date][time][2].type == 'food'" class="fal fa-utensils"></i>
                                    <div class="col-sm">
                                        <p class="name">{{ activitiesPerDay[date][time][2].name }}</p>
                                        <p class="hours">{{ time }} - {{ activitiesPerDay[date][time][2].endDate | hours }}</p>
                                        <p class="location">{{ activitiesPerDay[date][time][2].location }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="card activity-card third-card clickable" (click)="onShowInfo(activitiesPerDay[date][time][3], time)">
                            <div class="card-body activity-card-body">
                                <div class="row tile">
                                    <i *ngIf="activitiesPerDay[date][time][3].type == 'competition'" class="fal fa-trophy"></i>
                                    <i *ngIf="activitiesPerDay[date][time][3].type == 'other'" class="fal fa-calendar"></i>
                                    <i *ngIf="activitiesPerDay[date][time][3].type == 'food'" class="fal fa-utensils"></i>
                                    <div class="col-sm">
                                        <p class="name">{{ activitiesPerDay[date][time][3].name }}</p>
                                        <p class="hours">{{ time }} - {{ activitiesPerDay[date][time][3].endDate | hours }}</p>
                                        <p class="location">{{ activitiesPerDay[date][time][3].location }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="activitiesPerDay[date][time].length == 3">
                <div class="row">
                    <div class="col-lg-4 col-sm-12">
                        <div class="card activity-card third-card clickable" (click)="onShowInfo(activitiesPerDay[date][time][0], time)">
                            <div class="card-body activity-card-body">
                                <div class="row tile">
                                    <i *ngIf="activitiesPerDay[date][time][0].type == 'competition'" class="fal fa-trophy"></i>
                                    <i *ngIf="activitiesPerDay[date][time][0].type == 'other'" class="fal fa-calendar"></i>
                                    <i *ngIf="activitiesPerDay[date][time][0].type == 'food'" class="fal fa-utensils"></i>
                                    <div class="col-sm">
                                        <p class="name">{{ activitiesPerDay[date][time][0].name }}</p>
                                        <p class="hours">{{ time }} - {{ activitiesPerDay[date][time][0].endDate | hours }}</p>
                                        <p class="location">{{ activitiesPerDay[date][time][0].location }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <div class="card activity-card third-card clickable" (click)="onShowInfo(activitiesPerDay[date][time][1], time)">
                            <div class="card-body activity-card-body">
                                <div class="row tile">
                                    <i *ngIf="activitiesPerDay[date][time][1].type == 'competition'" class="fal fa-trophy"></i>
                                    <i *ngIf="activitiesPerDay[date][time][1].type == 'other'" class="fal fa-calendar"></i>
                                    <i *ngIf="activitiesPerDay[date][time][1].type == 'food'" class="fal fa-utensils"></i>
                                    <div class="col-sm">
                                        <p class="name">{{ activitiesPerDay[date][time][1].name }}</p>
                                        <p class="hours">{{ time }} - {{ activitiesPerDay[date][time][1].endDate | hours }}</p>
                                        <p class="location">{{ activitiesPerDay[date][time][1].location }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <div class="card activity-card third-card clickable" (click)="onShowInfo(activitiesPerDay[date][time][2], time)">
                            <div class="card-body activity-card-body">
                                <div class="row tile">
                                    <i *ngIf="activitiesPerDay[date][time][2].type == 'competition'" class="fal fa-trophy"></i>
                                    <i *ngIf="activitiesPerDay[date][time][2].type == 'other'" class="fal fa-calendar"></i>
                                    <i *ngIf="activitiesPerDay[date][time][2].type == 'food'" class="fal fa-utensils"></i>
                                    <div class="col-sm">
                                        <p class="name">{{ activitiesPerDay[date][time][2].name }}</p>
                                        <p class="hours">{{ time }} - {{ activitiesPerDay[date][time][2].endDate | hours }}</p>
                                        <p class="location">{{ activitiesPerDay[date][time][2].location }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </tab>
</tabset>