.borders {
    background: transparent;
    border: 1px dashed #9B9B9B;
    width: 99%;
    margin-bottom: 10px;

    &:hover {
        border: 1px dashed #00579c;
    }
}

.btn .save-btn {
    border-radius: 2px;
    background-color: #00579c;
    margin-top: 10px;
    height: 1000px;
}

.error {
    color: #f15e58;
    text-align: center;
}

.add-member-card {
    background-color: #ffffff;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
}

.card-wrapper {
    width: 99%;
}

.input {
    width: 30%;
    display: inline-flex;
    margin-left: 0px;
}

.btn-save {
    display: inline-block;
    margin-right: 10px;
}

.btn-primary {
    background-color: #00579c;
    border-color: #00579c;
    color: white !important;
    height: 38px;
    margin-bottom: 1px;
}

.btn-danger {
    background-color: #f15e58;
    border-color: #f15e58;
    color: white !important;
    height: 38px;
    margin-bottom: 1px;
}

.email {
    width: 61%;
}

.cancel {
    margin-left: 10px;
}

.no-godparent {
    font-weight: bold;
    text-align: center;
}

.fa-check {
    padding-left: 5px;
}

.fa-times {
    padding-left: 5px;
}

h1 {
    text-transform: uppercase;
}

.edit-name-button {
    background: transparent;

    &:hover {
        color: #0D5899;
    }
}

.button-group {
    position: absolute;
    margin-bottom: 4px;
    bottom: 0;
    margin-left: 5px;
}

.has-error {
    margin-bottom: 29px;
}
