h1 {
    text-transform: uppercase;
}

.school {
    margin-bottom: 0;
    width: auto;
    text-align: center;
}

.btn-warning {
    color: #FED265 !important;
    background-color: #fafafa !important;
    border-color: #fafafa !important;
    box-shadow: none !important;
}

.stars {
    font-size: 25px;
}

.no-hover {
    pointer-events: none !important;
}

.rating {
    margin-bottom: 5px;
    margin-left: 6px;
}

.btn-primary {
    height: 100% !important;
}

.card-body {
    padding-bottom: 0px;
}

.alert {
    text-align: center;
    color: red;
}

.vote {
    padding-top: 10px;
}
