<div class="page-wrapper">
    <h1 class="title">Flash Outs</h1>
    <app-loading-spinner [loading]="loading$"></app-loading-spinner>
    <div *ngIf="flashouts$ | async" class="animated fadeIn">
        <div class="row">
            <div *ngFor="let f of flashouts" class="col-xs-12 col-md-6 col-xl-4">
                <app-flashout-card [flashout]="f" [showRate]="hasVoted" [(ngModel)]="f.votes[0].rating" rate></app-flashout-card>
            </div>
        </div>
    </div>
    <div *ngIf="!hasVoted" class="text-center">
        <a class="btn btn-primary btn-rounded mt-3 px-3" (click)="vote()">{{ "general.button.vote" | translate }}</a>
    </div>
    <div *ngIf="hasErrors" class="alert">
            {{ "pages.flashouts.vote_error" | translate }}
    </div>
</div>
