.badge-primary {
    background-color: #00579c;
}
.badge-danger {
    background-color:#f15e58;
}
.link {
    padding-right:10px;
    color:#00579c;
}
.attendee-wrapper {
    width:100%;
    height:75px;
}