.badge-primary {
    background-color: #00579c;
}
.badge-danger {
    background-color:#f15e58;
}
.links {
    padding-right:10px;
}
.div-left {
    padding-left:10px;
}
.div-right {
    padding-right:10px;
    align-content: left;
}
.icons-right {
    text-align: right;
}