.badge-primary {
    background-color: #00579c;
}
.badge-danger {
    background-color:#f15e58;
}
.link {
    padding-right:10px;
    color:#00579c;
    display: inline-block;
}
.attendee-wrapper {
    width:100%;
    height:80px;
    margin-bottom:10px;
}
.no-link {
    padding-right:10px;
    display: inline-block;
}
.info-attendee {
    display: inline-block;
    padding-left:10px;
}
.name {
    font-weight: normal;
    font-size:24px;
    margin-bottom:50px;
}
.icons-right {
    float: right;
}
.email {
    margin-top:5px;
}
img {
    float: left;
    width: 50px;
    height: 50px;
    /* prob. you dont need this */
    padding: 0;
    margin: 0;
    border:0;
}
